*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
    letter-spacing: 0.4px;
}
.gradient {
    height: 100vh;
    background: rgba(34,193,195,1);
    background: linear-gradient(
        0deg, rgba(34,193,195,1) 0%, 
        rgba(253,187,45,1) 
        100%);
    background-size: cover;
}

.container {
    background-color: aliceblue;
    width: 450px;
    padding: 40px 40px;
    border-radius: 12px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 30px 50px rgba(34,193,195,1);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.lbl{
    font-size: 16px;
    color: gray;
    font-weight: 400;
}

.val {
    color :rgb(70, 66, 66);
    font-weight: 500;
    font-size: 18px;

}

.input-box{
    background-color: rgba(34, 192, 195, 0.448);
    color :rgb(70, 66, 66);
    padding: 5px;
}

#bill{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
    text-align: right;
    color: rgb(70, 66, 66); 
}

hr {
    border: none;
    border-bottom: 2px solid  rgb(190, 232, 216);
}

input[type="range"]{
    width: 100%;
    cursor: pointer;
    accent-color: rgb(249, 194, 77);

}

input[type="range"]:not(:last-child){
    margin-bottom: 5px;
}


section:not(:last-child) {
    margin-bottom: 40px;
} 

section:not(:first-child) {
    margin-top: 40px;
} 

section:last-child{
    background-color: rgba(34, 192, 195, 0.448);
    padding: 10px;
}

section:last-child .val,
section:last-child .lbl {
    color :rgb(70, 66, 66);
}



